﻿@model SS.Giftshop.ViewModels.ActivateAccountModel
@{
	ViewBag.Title = Resources.ConfirmEmail;
}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h2>@ViewBag.Title</h2>
			<hr />
			@using (Html.BeginForm("ConfirmEmail", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
			{
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@Html.AntiForgeryToken()
				@Html.HiddenFor(m => m.Token)
				@Html.HiddenFor(m => m.Id)

				<div class="form-group">
					@Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-xs-12 control-label" })
					<div class="col-md-3 col-sm-6 col-xs-7">
						@Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = Resources.NewPassword })
						@Html.ValidationMessageFor(m => m.Password, string.Empty, new { @class = "text-danger custom-validation-message" })
					</div>
				</div>
				<div class="form-group">
					@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 col-xs-12 control-label" })
					<div class="col-md-3 col-sm-6 col-xs-7">
						@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = Resources.ConfirmPassword })
						@Html.ValidationMessageFor(m => m.ConfirmPassword, string.Empty, new { @class = "text-danger custom-validation-message" })
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</div>
			}
		</div>
	</div>
</div>

@section scripts {
	@{ Html.RenderPartial("_ValidationScripts"); }
}