﻿@model SS.Giftshop.ViewModels.ForgotPasswordViewModel
@{
	ViewBag.Title = Resources.ForgotPassword;
}

<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="container-bordered">
				<h2>@ViewBag.Title</h2>
				<hr />

				@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
				{
					@Html.AntiForgeryToken()
					@Html.ValidationSummary("", new { @class = "text-danger" })
					<div class="form-group">
						@Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
						<div class="col-md-8">
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
								@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-offset-4 col-md-8">
							<button type="submit" class="btn btn-primary btn-lg">@Resources.Submit</button>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	
</div>
@section scripts {
	@{ Html.RenderPartial("_ValidationScripts"); }
}