﻿@model SS.Giftshop.ViewModels.ResetPasswordViewModel
@{
	ViewBag.Title = Resources.ResetPassword;
}

<div class="container">
	<h2>@ViewBag.Title.</h2>

	@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		@Html.AntiForgeryToken()
		<h4>Reset your password.</h4>
		<hr />
		@Html.ValidationSummary("", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.Code)
		<div class="form-group">
			@Html.LabelFor(m => m.Email, new { @class = "col-sm-2 col-xs-12 control-label" })
			<div class="col-md-3 col-sm-6 col-xs-7">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Password, new { @class = "col-sm-2 col-xs-12 control-label" })
			<div class="col-md-3 col-sm-6 col-xs-7">
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 col-xs-12 control-label" })
			<div class="col-md-3 col-sm-6 col-xs-7">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-primary">@Resources.Submit</button>
			</div>
		</div>
	}
</div>

@section scripts {
	@{ Html.RenderPartial("_ValidationScripts"); }
}